.back1{
    background-image: url("./backlog.jpg");
    height: 100%;
    width: 100%;
    /* background-color: chartreuse; */
}

.ent{
    /* background-image: url("./back.jpg");  */
    background-color: white;
    display:flex;
    flex-direction: column;
    padding:30px;
    margin: 30px;
    border-radius: 20px;
    box-shadow:3px 3px 3px 3px #9E9E9E ;
    
    
}
.back2{
    background-color: #efefef;
}