.com{
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 2px;
    
}
.ti{
    margin: 10px; 
    font-size: 25px;
    font-family: Markazi Text;
    display: flex;
}
.wie{
    display: flex;
    flex-direction: row;
}
.tit{
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-size: 25px;
    font-family: Markazi Text;
    justify-content: center;
    align-items: center;
    margin-Top: 30px;
    
}

.cas{
    margin: 6px;
}
.time{
    display: flex;
    flex-direction: row;
}
.day{
    display: flex;
    flex-direction: row;
}